* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  /* 0.577 = tan(30deg)*/
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  
}

/* navigation bar */

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/**to make equal gap **/
nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 1rem;
}


nav a {
  display: block;
  padding: 8px;
  color: #ffff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}
/* navigation bar end here */

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li h3 {
  margin-top: 0;
}

form label {
  display: block;
}

footer {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding-bottom: 1%;
}

/** projects cards**/

.card-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: none;

}

.card:hover {
  transform: translate(10px, 5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card {
  width: 25%;
  max-width: 400%;
  height: 400px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  color: none;
  border-radius: 20px;**/
}

.card img {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 5%;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.card-title {
  margin-top: 0;
}


a.btn {
  color: #f8f8f8;
}

/* projects end here*/

/* contact */
.contact-section {
  display: block;
  background-color: rgba(0, 0, 0, 0.4)
  padding: 50px;
  
}

.contact-box {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 1%), radial-gradient(at top center, rgba(255,255,255,0.1) 1%, rgba(0,0,0,0.1) 120%) rgb(151, 150, 150, 0.5) ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  backdrop-filter: blur(3px);
}

.contact-box h2 {
  font-size: 14px;
  text-align: center;
}

.contact-box form {
  display: grid;
  grid-gap: 20px;
}

.contact-box label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-box button[type='submit'] {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-box button[type='submit']:hover {
  background-color: #0066b3;
}
/*contact end*/
/* about me*/
.about-me-section {
  background-color: none;
  padding-top: 8%;
}

.about-me-box {
  max-width: 600px;
  min-width: 0 auto;
  padding: 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.about-me-box:hover {
  transform: translate(10px, 5px);
}
#profile-image {
  max-width: 300px;
  height: 100px;
  object-fit: 50%; /* or object-fit: contain; */
  border-radius: 50%; /* to make it circular */
}


.about-me-content h2 {
  padding-left: 10px;
  font-size: 2em;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #fff;
  text-align: :left;
}

.about-me-content p {
  padding-left: 10px;
  float: none;
  font-size: 1.2em;
  line-height: 1.5;
  margin-right: 20px;
  color: #fff;
  text-align: left;
}

/* about me end here */
/*dark button*/

button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
/* dark button end here*/


/* scroll to top button */

#scroll-to-top-button {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #7bd692;
  color: rgb(2, 1, 1);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scroll-to-top-button:hover {
  background-color: #0b8e7d;
}
/* scroll to top button end here*/

/* Styles for mobile screens */
@media only screen and (max-width: 600px) 
{
  h1{
    font-size: 36px;
    line-height: 50px;
  }
  .about-me-box{
    padding-top: 20px;
    font-size: 10px;
    
  }
  .about-me-section{
    padding-top: 120px;
  }
  .card{
    font-size: 1px;
    padding: 5px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 5em;
    padding-bottom: auto;

    
  } 
  .card-section {
    width: 100%;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
  }
  .card img{
    width: 40%;
    
  }
  .card p{
    font-size: none;
  }
  .card h3{
    font-size: none;
  }
  .btn{
    font-size: 12em;
  }
  
}
/** layout for mobiles ends here **/


